/* Header */

header {
    position: sticky;
    top: 0px;
    z-index: 9;
    background-image: url("../../images/books-banner.jpeg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover; 
  }
  
  #banner {
    text-align: right;
    padding-right: 5%; 
  }
    
  #banner h1 {
    display: inline-block;
    color: #FFF;
    width: 100%;
    line-height: 150px; 
  }